.textHeader{
    font-size: 48px;
    line-height: 26px;
    text-align: center;
}
.textHeader_under{
    font-size: 32px;
    line-height: 26px;
    text-align: center;
    margin-top: 49px;
}