.textHeader{
    font-size: 40px;
    line-height: 40px;
    text-align: center;
}
.textHeader_under{
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    margin-top: 49px;
}